@font-face {
    font-family: 'gtitre';
    src: url('font/code.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'texte';
    src: url('font/coolvetica.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ptitre';
    src: url('font/Square.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
/* Color :
    dark purple : #3e315c
    medium purple : #604f85
    light purple : #836fac*/
/*-----------GENERAL----------*/
@media screen{
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 ;
    background-color: rgb(36, 36, 36);
    width: 99vw;
}
/*-------NAV---------*/

.menu-nonsticky{
    background-color: #836fac;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 2;

}
.link-nav{
    font-family: 'gtitre';
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: 0.1em;
}   
.link-nav:hover{
    text-decoration: underline;
}
.img-nav{
    width: 10%;
}
/*--------PRESENTATION--------*/
#presentation{
    z-index: 2;
    position: relative;
    font-family: 'gtitre';
    font-size: 180%;
    color:white;
    font-weight: bolder;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 2%;
    width: 100%;
    align-items: center;
    background-color: rgb(36, 36, 36);
    text-align:center;
    height: 100vh;
}
#t-pres{
    margin-top : -2%;
}
#img-pres{
    width: 30%;
}
#my{
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
    transform: translateY(-50%);
}
#img{
    max-height: 20%;
}
/*-----------ANCRES---------*/
.ancre{
    height: 100%;
    visibility: hidden;
    margin:0;
}
/*-----------A-PROPOS---------*/
#a-propos{
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 15%;
    margin-bottom: 7%;
    padding-bottom: 3%;
}
.text{
    font-family: 'texte';
    font-size: 2em;
    text-align: left;
}
.section{
    padding-top: 4%;
    padding-left: 4%;
}
#background-apropos{
    background-image: url("images/moon/gr5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150%;
    padding: 5%;
}
/*---------------FORMATION------------*/
#formations{
    background-color: rgba(255, 255, 255, 0.75);
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 2%;
    text-align: center;
    font-family: 'texte';
    font-size: 120%;
    padding-bottom : 3%;
}
#div-formation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.titre-formation{
    font-family: 'gtitre';
    font-size: 200%;
    color:#3e315c;
    text-decoration: underline;
    letter-spacing: 0.2em;
}
.d-formation{
    width: 50%;
}
.t-formation{
    font-family: 'gtitre';
    font-size: 150%;
    text-decoration: underline;
    letter-spacing: 0.1em;
}
#background-formation{
    background-image: url("images/moon/18.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 110%;
    padding: 5%;
}
/*-----------EXPERIENCE-------------*/
#experience{
    background-color: rgba(255, 255, 255, 0.75);
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 2%;
    text-align: center;
    font-family: 'texte';
    font-size: 120%;
}
#background-experiences{
    background-image: url("images/moon/14.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150%;
    padding: 5%;
}
/*---------------COMPETENCES----------*/
#competence{
    background-color: rgba(255, 255, 255, 0.75);
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 2%;
    text-align: center;
    font-family: 'texte';
    font-size: 200%;
}
.compe{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 1%;
    margin-top: 1%;
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:1px;
	font-size:0.8em;
	color:#ffffff;
	background-color:#604f85;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background: linear-gradient(90deg, rgba(80,67,108,1) 0%, rgba(176,154,219,1) 100%);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
#background-competences{
    background-image: url("images/moon/20.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
/*------------PORTFOLIO--------*/
#portefolio{
    display:flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.75);
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 4%;
    padding: 2%;
    text-align: center;
    font-family: 'texte';
    font-size: 200%;
    flex-wrap: wrap;
}
.img-projet{
    width: 50%;
}
#background-projet{
    background-image: url("images/moon/apr1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding: 5%;
}
/*-----------FOOTER-----------*/
#footer{
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 30%;
    text-align: center;
    font-family: 'texte';
    font-size: 70%;
    width: 100%;
}
.link-text{
    text-decoration: none;
    color: black;
}
.link-text:hover{
    text-decoration: underline;
    color: #3e315c;
}
}
@media screen and (max-width: 768px) {
    .link-nav{
        font-size: 0.5em;
    }
    .text{
        font-size: 1em;
    }
    #div-formation{
        flex-direction: column;
        align-items: center;
justify-content: center;
    }
    #competence .titre-formation{
        font-size: 1em;
    }
    #my{
        width:60%;
    }
  }